<header ng-switch on="$location.path().indexOf('/Clients/new') > -1">
    <h3 ng-switch-when="true">Create a new Client</h3>
    <h3 ng-switch-when="false">View or edit Client</h3>
</header>
<form id="ClientForm" name="ClientForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    

    <div class="form-group" ng-class="{'has-error': ClientForm.name.$invalid}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div id="nameControls" class="col-sm-10">
            <input id="name" name="name" type="text" class="form-control" ng-model="client.name" placeholder="Enter the Client Name"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ClientForm.adress.$invalid}">
        <label for="adress" class="col-sm-2 control-label">Adress</label>
        <div id="adressControls" class="col-sm-10">
            <input id="adress" name="adress" type="text" class="form-control" ng-model="client.adress" placeholder="Enter the Client Adress"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ClientForm.phone.$invalid}">
        <label for="phone" class="col-sm-2 control-label">Phone</label>
        <div id="phoneControls" class="col-sm-10">
            <input id="phone" name="phone" type="text" class="form-control" ng-model="client.phone" placeholder="Enter the Client Phone"></input>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': ClientForm.email.$invalid}">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div id="emailControls" class="col-sm-10">
            <input id="email" name="email" type="text" class="form-control" ng-model="client.email" placeholder="Enter the Client Email"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveClient" name="saveClient" class="btn btn-primary" ng-disabled="isClean() || ClientForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteClient" name="deleteClient" class="btn btn-danger" ng-show="client.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>